body{
  font-family: 'Ubuntu', sans-serif;
  background: #FFF0BB;
  color: #222;
}

#lilTetris{
  display: table;
  width: 550px;
  margin: 0 auto;
}

#gameInfo{
  width: 250px;
  display: table-cell;
  vertical-align: top;
}

#gameField{
  width: 300px;
  display: table-cell;
}

#menuCont{
  text-align: center;
  background-color: #D41E2A;
  border-top: 1px solid #D41E2A;
  height: 90px;
  margin-bottom: 20px;
}

#menuCont h1{
  font-family: 'Russo One', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 40px;
  margin-bottom: 0;
  margin-top: 10px;
}

#menuCont h2{
  margin-top: -7px;
}