body{
  font-family: 'Ubuntu', sans-serif;
  background: #FFF0BB;
  color: #222;
}

#menuCont{
  text-align: center;
  background-color: #C40E1A;
  border-top: 1px solid #C40E1A;
  margin-bottom: 20px;
}

#menuCont h1{
  font-family: 'Russo One', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 40px;
  padding-bottom: 10px;
  margin-top: 10px;
}

#menuCont h1 a {
  color: #222;
  text-decoration: none;
}

#menuCont h2{
  margin-top: -7px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

#lilTetris{
  display: table;
  width: 550px;
  margin: 0 auto;
}

#lilTetrisMenu {text-align: center;}

#hiScores {
  display: table-cell;
  vertical-align: top;
  width: 300px;
}

#startGame {
  display: table-cell;
  vertical-align: top;
  width: 250px;
}

#gameInfo{
  width: 250px;
  display: table-cell;
  vertical-align: top;
  text-align: center;
}
#gameInfo button, #gameField button {
  background: #C40E1A;
  color: #fff;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  width: 116px;
}
#gameInfo button:focus, #gameField button:focus {outline: 0;}

#nextShape {
  text-align: center;
  width: 150px;
  margin-left: 50px;
}
#nextShape div {
  display: table;
  width: 100%;
}
#nextShape div div {
  text-align: center;
}

#gameField{
  width: 300px;
  display: table-cell;
  border: 1px solid #222;
  position: relative;
}

#banner {
  position: absolute;
  width: 300px;
  height: 660px;
  background: rgba(0,0,0,.8);
  top: 0;
  text-align: center;
}
#banner h1 {
  margin-top: 300px;
  text-align: center;
  color: #fff;
}
#saveScore {
  border: 2px solid #C40E1A;
  background: #ccc;
  width: 150px;
  margin: 10px auto;
  padding: 5px 0;
  text-align: center;
}